<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Strelnica</display-name>
    <servlet-name>Strelnica</servlet-name>
    <servlet-class>Projekt.Strelnica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Strelnica</servlet-name>
    <url-pattern>/Strelnica</url-pattern>
  </servlet-mapping>
  <display-name>Strelnica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StrelnicaMain</display-name>
    <servlet-name>StrelnicaMain</servlet-name>
    <servlet-class>Projekt.StrelnicaMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StrelnicaMain</servlet-name>
    <url-pattern>/StrelnicaMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MojeStrelnice</display-name>
    <servlet-name>MojeStrelnice</servlet-name>
    <servlet-class>Projekt.MojeStrelnice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MojeStrelnice</servlet-name>
    <url-pattern>/MojeStrelnice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Strelnice</display-name>
    <servlet-name>Strelnice</servlet-name>
    <servlet-class>Projekt.Strelnice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Strelnice</servlet-name>
    <url-pattern>/Strelnice</url-pattern>
  </servlet-mapping>
</web-app>